footer {
  min-height: 10vh;
  padding: 1rem 0;
  border-top: 2px solid tint($pink, 60%);
  margin-top: 2rem;
  nav ul {
    display: flex;
    justify-content: space-between;
  }
  nav li {
    font-size: 2rem;
  }
}