header {
  height: $header-height;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid tint($pink, 60%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  background-color: white;
}

h1 {
  font-size: 3.6rem;
  color: $pink;
  text-align: center;
  @include respond-to('mobile') {
    font-size: 2rem;
  }
}

.homeButton {
  display: inline-block;
  width: 43px;
  flex-shrink: 0;
}

.coderButton {
  flex-shrink: 0;
  display: inline-block;
  width: 50px;
  padding: 5px;
  border-radius: 50%;
  transition: background-color 0.4s;
  &:hover {
    background-color: tint($pink, 80%);
    transition: background-color 0.4s;
  }
}