.leaderboard {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: $header-height auto $footer-height;
  padding: 2.5rem 0;
  @include respond-to('mobile') {
    margin: $header-height auto $footer-mobile-height;
  }

  h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%
  }

  // individual cell styles //
  th,
  td {
    padding: 2rem;
    text-align: center;
    @include respond-to('tablet') {
      padding: 5px;
    }
  }
  td a {
    color: shade($grey, 60%);
    text-decoration: solid underline transparent;
    &:hover {
      color: shade($pink, 10%);
      text-decoration: solid underline shade($pink, 10%);
    }
  }
  th {
    background-color: tint($pink, 30%);
    border-right: 2px solid tint($pink, 50%);
  }
  .queensHeading {
    border-right: none;
  }

  .rowGroupA {
    background-color: tint($pink, 90%);
  }
  .rowGroupB {
    background-color: white;
  }

  .firstRowQueens,
  .secondRowQueens {
    text-align: left;
  }
  .firstRowQueens {
    padding: 1.5rem 2rem 5px;
    border-bottom: 1px solid tint($grey, 50%);
  }
  .secondRowQueens {
    padding: 5px 2rem 1.5rem;
  }
  .heading {
    text-transform: capitalize;
    padding: 1rem 2rem;
    @include respond-to('tablet') {
      padding: 1rem 5px;
    }
  }
  // ======================== //

  // column width values //
  .rankHeading {
    width: 10%;
  }
  .racerHeading {
    width: 20%;
  }
  .pointsHeading {
    width: 10%;
  }
  .queenColumnA,
  .queenColumnB {
    width: 15%;
  }
  // ================== //
  // Media //
  .mobileTable {
    display: none;
    @include respond-to('mobile') {
      display: table;
    }
    .mobileHeading {
      text-transform: capitalize;
    }
    .rankMobileHeading {
      width: 45px;
    }
    .pointsMobileHeading {
      width: 60px;
    }
    .racerMobileHeading,
    .queensMobileHeading {
      width: 35%
    }

    .queensMobileHeading {
      border-right: none;
    }

    .queensRow {
      padding: 7px 0;
      &.queensRowTop {
        padding-top: 1.5rem;
      }
      &.queensRowBottom {
        padding-bottom: 1.5rem;
      }
    }
  }
  .desktopTable {
    display: table;
    @include respond-to('mobile') {
      display: none;
    }
  }
}
