.leaderboard {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: $header-height auto $footer-height;
  padding: 2.5rem 0;

  h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%
  }

  // individual cell styles //
  th,
  td {
    padding: 2rem;
    text-align: center;
  }
  td a {
    color: shade($grey, 60%);
    text-decoration: solid underline transparent;
    &:hover {
      color: shade($pink, 10%);
      text-decoration: solid underline shade($pink, 10%);
    }
  }
  th {
    background-color: tint($pink, 30%);
    border-right: 2px solid tint($pink, 50%);
  }
  .queensHeading {
    border-right: none;
  }
  tr:nth-of-type(4n-2),
  tr:nth-of-type(4n-3) {
    background-color: tint($pink, 90%);
  }
  .firstRowQueens,
  .secondRowQueens {
    text-align: left;
  }
  .firstRowQueens {
    padding: 1.5rem 2rem 5px;
    border-bottom: 1px solid tint($grey, 50%);
  }
  .secondRowQueens {
    padding: 5px 2rem 1.5rem;
  }
  .heading {
    text-transform: capitalize;
    padding: 1rem 2rem;
  }
  // ======================== //

  // column width values //
  .rankHeading {
    width: 10%;
  }
  .racerHeading {
    width: 20%;
  }
  .pointsHeading {
    width: 10%;
  }
  .queenColumnA,
  .queenColumnB {
    width: 15%;
  }
  // ================== //
}