$pink: #ff69b4;
$grey: #808080;
$link-purple: #623cea;

$footer-height: 10.7vh;
$header-height: 11.7vh;


@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}